<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all_cinemas</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body{
            background-image: url("https://cdn.create.vista.com/api/media/medium/326239260/stock-photo-creative-abstract-blue-purple-color?token=");}

    </style>
</head>
<body>



<table class="table"
       style="width: 400px; height: 300px; margin-top: 150px; margin-left: 400px">
    <thead style="margin-left: 100px" class="thead-dark">
    <tr>
        <th  scope="col"><b>ID</b></th>
        <th  scope="col"><b>X</b></th>
        <th  scope="col"><b>Y</b></th>
        <th  scope="col"><b>PRICE</b></th>
        <th>
            <a href="/place/save" th:method="get">
                <button type="button" class="btn btn-outline-info">+</button>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>

        <td th:text="${find_by_id.id}"></td>
        <td th:text="${find_by_id.x}"></td>
        <td th:text="${find_by_id.y}"></td>
        <td th:text="${find_by_id.price}"></td>

    </tbody>
</table>









</body>


