<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Place</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body{
           background-image: url("https://images.wallpaperscraft.ru/image/single/fon_tsvet_razmytie_210279_1920x1080.jpg");
        }
    </style>

</head>
<body>
<div>
    <form
            th:object="${place}"
            th:method="post"
            th:action="@{/place/save_place}"

            style="width: 400px; height: 300px; margin-top: 200px; margin-left: 400px">

        <div  class="form-group">
            <label for="exampleInputEmail1">Place X</label>
            <input th:field="${place.x}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="X">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Place Y</label>
            <input th:field="${place.y}" type="text" class="form-control" id="exampleInputPassword1" placeholder="Y">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Place price</label>
            <input th:field="${place.price}" type="text" class="form-control" id="exampleInputPassword2" placeholder="Price">


        </div>

        <button type="submit">Submit</button>
        <button><a th:href="@{/place/find_all}">Back</a></button>
        <button><a th:href="@{/cinema/front_page}">Next</a></button>
    </form>

</div>
</body>


