<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body{
            background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm283-nunny-106-g.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=c8d141d9560679f5779481d47aa7dbd7");
        }
    </style>

</head>
<body>

<div>
    <form
            th:object="${sess}"
            th:method="post"
            th:action="@{/sess/save_session}"

            style="width: 400px; height: 300px; margin-top: 200px; margin-left: 400px">


        <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input th:field="${sess.name}" type="text" class="form-control" id="exampleInputPassword1" placeholder="name">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Start of session</label>
            <input th:field="${sess.start}" type="text" class="form-control" id="exampleInputPassword" placeholder="rating">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Duration</label>
            <input th:field="${sess.duration}" type="text" class="form-control" id="exampleInputPassword3" placeholder="rating">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Finish of Session</label>
            <input th:field="${sess.finish}" type="text" class="form-control" id="exampleInputPassword2" placeholder="rating">
        </div>

        <button type="submit">Submit</button>
        <button><a th:href="@{/sess/find_all}">Back</a></button>
        <button><a th:href="@{/cinema/front_page}">Next</a></button>
    </form>

</div>
</body>


